.footer-container{
    border: 1px solid rgb(252, 243, 227);
    padding: 0.5rem 3rem;
    background-color: rgb(249, 245, 236);
    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo-holder{
            width: 50px;
            height: 50px;
        }
        .text{
            font-size: 12px;
            color: gray;
        }
        .menu{
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    padding: 5px;
                    margin: 0px;
                    a{
                        font-size: 12px;
                        color: black;
                    }
                    &:hover a{
                        color: orange;
                    }
                }
            }
            
        }
    }
}