@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&family=Vazirmatn:wght@100..900&display=swap');
*{
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
}
a{
    text-decoration: none;
    color:#0056b3;
}
@import 'layout/common';
@import 'layout/footer';
@import 'layout/header';

// components styling
@import 'component/button';
@import 'component/table';
// variable
@import 'component/variable';
// form element

@import 'component/form';