.product-table-container {
    margin: 3rem 0;
    overflow-x: auto;

    .paginator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;

        .nav-btn {
            padding: 5px 10px;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #333;
            transition: background 0.3s;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 12px;
    border: 1px solid #ddd;

    thead {
        background-color: #f2f2f2;

        th {
            padding: 8px;
            text-align: start;
            border: 1px solid #ddd;
            font-weight: 600;
            font-size: 12px;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #eee;

            &:nth-child(even) {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #f5f5f5;
            }

            td {
                border: 1px solid #ddd;
                vertical-align: middle;
            }

            .table-image {
                width: 100%;
                height: 30px;
                object-fit: cover;
                border-radius: 5px;
            }

            .action-icons {
                display: flex;
                gap: 5px;
            }
        }
    }
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 14px;
    border: 1px solid #ddd;
    

    thead {
        background-color: teal;
        color: white;
        th {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
            font-size: 13px;
            font-weight: bold;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #eee;

            &:nth-child(even) {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #f5f5f5;
            }

            td {
                padding: 10px;
                border: 1px solid #ddd;
                vertical-align: middle;
            }

            
        }
    }
}
.border-less-table-holder{
    margin: 2rem 0rem;
    .title{
        font-size: 24px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }
    .subtitle{
        padding: 0px;
        margin: 0px;
        color: gray;
    }
    .border-less-table{
        border: 1px solid lightgray;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        
        table{
            border-collapse: collapse;
            border: 1px solid white;
            text-align: center;
            width: 100%;
            margin: 2rem 0rem;
            thead{
                padding: 10px;
                background-color: rgb(230, 230, 230);
                th:first-child{
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                th:last-child{
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                th{
                    padding: 8px 20px;
                }
            }
            tbody{
                tr{
                    border: 1px solid white;
                }
                tr, td{
                    padding: 5px 0px;
                }
                
            }
        }
    }
}